<!-- Footer -->
<footer class="page-footer font-small indigo text-center">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row text-center">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quicklinks</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Home </a>
          </li>
          <li>
            <a href="#!">Services</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Services</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Hotels</a>
          </li>
          <li>
            <a href="#!">Bookings</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help</h5>

        <ul class="list-unstyled">
          
          <li>
            <a href="#!">FAQs</a>
          </li>
          <li>
            <a href="#!">Customer Care</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Bonuses</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Referals</a>
          </li>
          <li>
            <a href="#!">Offers </a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/angular/"> Hotellia.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
