<!-- Intro Section -->
<div class="view jarallax landing" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg);">
  <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
          <div class="row pt-5 mt-3 w-100">
              <div class="col-md-12">
                  <div class="text-center">
                      <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Hotelia</strong></h2>
                      <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                      <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Hotels & Resorts</strong></h5>
                      <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>Find Hotel</a>
                      <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>Call a rep</a>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
