<div class="card-deck">
    <!-- Card -->
    <mdb-card>
      <div class="view overlay waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Hotel Ibis Lagos <small>Ikeja</small></h4>
        </mdb-card-title>
  
        <!--Text--> 
        <mdb-card-text> Hotel Ibis is a 3-Star hotel located at 23 Toyin Street, Ikeja, Lagos, Nigeria. Hotel Ibis is 8.40 km, approximately 10 minutes, from the Murtala Mohammed Airport (MMA). 
        </mdb-card-text>
  
        <a href="#" mdbBtn color="primary" mdbWavesEffect>View Details</a>
        <a href="#" mdbBtn color="primary" mdbWavesEffect>Book Now</a>

      </mdb-card-body>
    </mdb-card>
  
    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>November 5 Hotel
              <small> Allen Avenue, Ikeja, Lagos</small></h4>
        </mdb-card-title>
  
        <!--Text-->
        <mdb-card-text> November 5 is situated at 23, Ogundana Street, off Allen Avenue, Ikeja. It is a budget hotel that offers affordable lodgings in a peaceful environment.
        </mdb-card-text>
  
        <a href="#" mdbBtn color="primary" mdbWavesEffect>View Details</a>
        <a href="#" mdbBtn color="primary" mdbWavesEffect>Book Now</a>
      </mdb-card-body>
    </mdb-card>
  
    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>BlueSpring Hotels
              <small>Fani Kayode Avenue, GRA</small> </h4>
        </mdb-card-title>
  
        <!--Text-->
        <mdb-card-text> Blue Spring Hotel is a 2-Star hotel located at No 34B Remi Fani-Kayode Avenue, GRA, Ikeja, Lagos. Blue Spring Hotel offers guests a relaxing spot in a cosy and warm environment
        </mdb-card-text>
  
        <a href="#" mdbBtn color="primary" mdbWavesEffect>View Details</a>
        <a href="#" mdbBtn color="primary" mdbWavesEffect>Book Now</a>
      </mdb-card-body>
    </mdb-card>
  </div>