<div class="row">

  <div class="col-sm-8 offset-2">

      <div class="md-form mt-6">
        <input type="search" [(ngModel)]="searchText" placeholder="Search hotel" class="form-control">
        <div class="text-center"><a mdbBtn color="blue" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>Find Hotel</a></div>
        
      </div>

      <div *ngFor="let data of dataset | filter: searchText" class="col-sm-12" >
        <div class="col card">
          {{data}}
        </div>
      </div>

  </div>
  
</div>
